/* css styles */
/* Add padding between sections */
section {
  padding-bottom: 20px;
}

/* Add padding between title and content */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

h1 {
  color: midnightblue; /* Adjust for second-level headings */
}
